<section>
    <form {% block 'action' %} action="{% url 'bank-billet' %}" {% endblock 'action' %} method="POST">
      {% csrf_token %}
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="https://i.pinimg.com/564x/a7/2b/0c/a72b0c9618e42683cab4b6c1b415992d.jpg" class="img-fluid rounded-start" alt="..." />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Course Programming</h5>
              <p class="card-text">
                <small class="text-muted">R$ 1.000,00</small>
              </p>
              <p>Form of payment: {% block 'formpayments' %}<span class="badge bg-primary">Bank slip</span>{% endblock 'formpayments' %}</p>
              {% block 'outherinfo' %} {% endblock 'outherinfo' %}
              <button type="submit" id="checkout-button" class="btn btn-outline-success">Checkout</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>