<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>Payments Stripe</title>
  </head>
  <body>
    {% include 'payments/partials/bankslip.html' %}
    {% include 'payments/partials/carnet.html' %}
  </body>
  <!-- _footer.html -->
  <footer class="bg-primary text-light">
    <div class="container navbar-dark pt-4 mt-5">
      <div class="row">
        <div class="col">
          <p class="text-left">Powered by Django</p>
        </div>
        <div class="col">
          <p class="text-right">Made By Heitor Louzeiro</p>
        </div>
      </div>
    </div>
  </footer>
  <!-- /_footer.html -->
  <style>
    section {
      display: flex;
      justify-content: center;
    }
    .card {
      padding: 10px;
      margin: 50px;
    }
  </style>
  <!-- Bootstrap core JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
</html>
